{% extends 'seller-header.html' %}
{% load static %}

{% block content %}
<section id="main-content">
	<section class="wrapper">
	<div class="form-w3layouts">

    <!-- page start-->
    <!-- page start-->
    
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">Edit Product</header>
                
                <div class="panel-body">
                    <div class="position-center">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            
                            <div class="form-group">
                                <label for="exampleInputEmail1">Product Name</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" name="pname" value="{{productitem.name}}" placeholder="Default Input">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Description</label>
                                <input type="text" class="form-control" id="exampleInputPassword1"  name="desc" value="{{productitem.des}}" placeholder="Default Input">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Product Price</label>
                                <input type="text" class="form-control" id="exampleInputPassword1"  name="price" value="{{productitem.price}}" placeholder="Default Input">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Quantity</label>
                                <input type="text" class="form-control" id="exampleInputPassword1"  name="quantity" value="{{productitem.quantity}}" placeholder="Default Input">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Discount</label>
                                <input type="text" class="form-control" id="exampleInputPassword1"  name="discount" value="{{productitem.discount}}" placeholder="Default Input">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Product Image</label>
                                <input type="file" class="form-control" id="exampleInputPassword1"  name="img" value="{{productitem.pic}}" placeholder="Default Input">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1"></label>
                                <input type="submit" class="btn btn-info" value="Update">
                            </div>
                        
                        </form>
                        </div>
    
                    </div>
                </section>
    
        </div>
    {% endblock %}    
                        
                                            
                        